<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>

<body>

<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="menu">

  <nav class="w-full bg-slate-900 border-b border-slate-800 px-6 py-4">
    <div class="flex items-center gap-16">
      
      <a th:href="@{/}" class="text-lg font-bold text-white tracking-tight">
        Colegi<span class="text-indigo-400">+</span>
      </a>

      <ul class="flex items-center gap-10 text-sm font-medium">

        <li th:if="${session.tipoUsuario == 'ALUNO'}" class="m-4">
          <a th:href="@{/processos}"
             class="text-slate-300 hover:text-indigo-400 transition m-4">
            Meus Processos
          </a>
        </li>

        <li th:if="${session.tipoUsuario == 'PROFESSOR'}" class="m-4">
          <a th:href="@{/processos}"
             class="text-slate-300 hover:text-indigo-400 transition">
            Atribuídos
          </a>
        </li>

        <li th:if="${session.tipoUsuario == 'PROFESSOR' and session.coordenador == true}" class="m-4">
          <a th:href="@{/processos}"
             class="text-slate-300 hover:text-indigo-400 transition">
            Distribuir
          </a>
        </li>

        <li th:if="${session.tipoUsuario == 'ADMIN'}" class="m-4">
          <a th:href="@{/assuntos}"
             class="text-slate-300 hover:text-indigo-400 transition">
            Assuntos
          </a>
        </li>
        <li th:if="${session.tipoUsuario == 'ADMIN'}" class="m-4">
          <a th:href="@{/colegiados}"
             class="text-slate-300 hover:text-indigo-400 transition">
            Colegiados
          </a>
        </li>

        <li th:if="${session.tipoUsuario != null}" class="m-4">
          <a th:href="@{/auth/logout}"
             class="text-red-400 hover:text-red-300 transition font-semibold">
            Sair
          </a>
        </li>

      </ul>
    </div>
  </nav>

</th:block>


</body>
</html>
